*{
    padding:0px;
    margin:0px;
}
.topdiv{
    height:80px;
    width:100%;
    background-color: #182a36;

    display: flex;
    color:white;
    align-items: center;
}
.logo{
    margin-left: 200px;
}
img{
    height:70px;
    width:120px;
}
.amount{
    margin-left: 350px;
    height:2.5rem;
    width:7rem;
    background-color: #0F212E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.money{
    opacity: 0.7;
    margin-left: 0.1rem;
}
.wallet{
    height:2.5rem;
    width:3.5rem;
    background-color: rgb(34, 109, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}
.signin{
    margin-left: 400px;
}
a{
    color: white;
    text-decoration: none;
}
.reg-button{
    margin-left: 50px;
    color:white;
    height:45px;
    width:100px;
    background-color: rgb(52, 124, 240);
    border-radius: 7px;
    font-size: 15px;
}
.mainbody{
    height:91vh;
    width:198vh;
    border-top: 3px solid rgb(25, 23, 23);
    background-color: #182a36;
    display: flex;
    justify-content: center;
}
.innerdiv{
    margin-top: 10vh;
    height:80.5vh;
    width:78%;
    border: 2px solid black;
    background-color: #2F4553;
    display: flex;
    border-radius: 15px;
}
.rightpart{
    height:80vh;
    width:63vw;
    background-color: #0F212E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.squarebox{
    height:100%;
    width:70%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.square{
    height:13.5vh;
    width:13.5vh;
    margin-left: 0.5rem;
    border-radius: 8px;
    background-color: #2F4553;
}
.reg-button:hover{
    background-color: rgb(31, 111, 238);
    cursor: pointer;
}
.junk{
    height:0.5rem;
    width:18rem;
}
.toggleswitch{
    height:3rem;
    width:16rem;
    border-radius: 3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background-color: #0F212E;
}
.manual,.auto{
    height:2.7rem;
    width:7.5rem;
    border-radius: 1.5rem;
    background-color: #0F212E;
    border: none;
    color: white;
}
.selected{
    background-color: #2F4553;
}
.manual:hover,.auto:hover{
    background-color: #2F4553;
}
.bettitle{
    margin-top: 1rem;
    width:90%;
    display: flex;
    margin-left: 0.8rem;
    justify-content: space-between;
}
.betamt,.dollar{
    opacity: 0.8;
    color: rgb(230, 227, 227);
    
}
.betamount{
    margin-top: 0.25rem;
    margin-left: 0.8rem;
    height:2.5rem;
    width:90%;
    background-color: #2F4553;
    border: 1px solid black;
    display: flex;
    border-radius: 5px;
}
.betmoney{
    display: flex;
    justify-content: center;
    align-items: center;
}
.moneyinput{
    padding-left: 0.5rem;
    margin-left: 0.1rem;
    background-color: #0F212E;
    height:95%;
    width:130%;
    color: white;
    border:none;
    font-size: 1rem;
}
.half,.double{
    height:70%;
    width:18%;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    color: white;
}
.double:hover{
    background-color: #60737e;
    
}
.half:hover{
    background-color: #60737e;

}
.mines{
    margin-top: 1rem;
    color: white;
    margin-left: 0.8rem;
}
.selectmine{
    height:2.5rem;
    margin-left: 0.8rem;
    width:90%;
    display: flex;
    border-radius: 5px;
    background-color: #0F212E;
    color:white;
    font-size: 0.9rem;
}
.betbutton{
    margin-top: 1rem;
    margin-left: 0.7rem;
    height:3.5rem;
    width:92%;
    border: none;
    background-color: #00E701;
    color:black;
    font-size: 1rem;
    border-radius: 5px;
}
.betbutton:hover,.selectmine:hover,.half:hover,.double:hover{
    cursor: pointer;
}
h1{
    color: bisque;
}
.footer{
    height:4rem;
    width:100%;
    background-color: #0F212E;
    display: flex;
}
.icons{
    height:100%;
    width:14rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
i{
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
}
.line{
    margin-top: 0.5rem;
    height:70%;
    width:0.07rem;
    background-color: #60737e;

}
.innerpart{
    width:100%;
    display:flex;
}
.last{
    margin-top: 0.25rem;
    height:3rem;
    width:6rem;
    object-fit: cover;
    opacity: 0.3;
    margin-right: 35rem;
}
.fairness{
    margin-top: 1.4rem;
    margin-right: 1.2rem;
    color:white;
    opacity: 0.6;
}
i:hover,.fairness:hover{
    cursor: pointer;
    opacity:1;
}
.square:hover{
    background-color: #60737e;
    height:17.5%;
}
.bline{
    margin-top: 0.5rem;
    height:70%;
    width:0.1rem;
    background-color: #0F212E;

}
.gem{
    background-image: url('diamond.png');
    background-size: cover; 
    background-position: center;
}
.mine{
    background-image: url('bomb.png');
    background-size: cover; 
    background-position: center;
}



/* js */
.heading{
    display: flex;
    color: white;
    justify-content: space-between;
    width:100%;
    height:2rem;
}
.gemminheading{
    width:100%;
    height:10rem;
    display: flex;
    flex-wrap: wrap;
}
.minediv,.gemdiv{
    margin-top: 0.2rem;
    border-radius: 3px;
    margin-left: 0.5rem;
    height:2rem;
    width:45%;
    background-color: #60737e;
    /* opacity: 0.5; */
}
.mines{
    display: flex;
    margin-left: 0.5rem;
}
.minenum{
    color: white;
    margin-left: 0.25rem;
    margin-top: 0.35rem;
}
.profit{
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    color:white;
    margin-top: 0rem;
    height:2rem;
    width:90%;
    background-color: #60737e;
    margin-left: 0.4rem;
    font-size: 1.3rem;
    opacity: 0.8;
}
.totprof{
    color: white;
}
.profhead{
    height:4rem;
    width:100%;
    background-color: aquamarine;
}
.profitval{
    color: white;
    margin-left: 0.25rem;
    margin-top: 0.5rem;
    opacity: 0.8;
}
.pickrandom{
    color: white;
    text-align: center;
    font-size: 1.05rem;
    opacity: 0.8;
}
.x{
    width:100%;
    height:4rem;
    color: white;
}
.withdraw{
    margin-top: 1rem;
    margin-left: 0.5rem;
    height:3.5rem;
    width:94%;
    border: none;
    background-color: #00E701;
    color:black;
    font-size: 1rem;
    border-radius: 5px;  
}
.withdraw:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}

.profitinfo{
    margin-top: 0.25rem;
    margin-left: 1rem;
    height:6rem;
    width:8.5rem;
    position: fixed;
    border: 3px solid rgb(76, 239, 76);
    border-radius: 10px;
    background-color: #2F4553;
}
.times{
    margin-top: 0.25rem;
    text-align: center;
    font-size: 2rem;
    color:rgb(76, 239, 76);
    opacity:1
}
.profitmoney{
    text-align: center;
    font-size: 1.15rem;
    margin-top: 0.8rem;
    color:rgb(70, 222, 70);
    opacity:1
}
.symbol{
    color: rgb(70, 222, 70);
}
.invalid{
    margin-top: 1rem;
    background-color: transparent;
    text-align: center;
    font-size: 1.05rem;
    opacity: 0.8;
}
.invalidmoney{
    font-size: 1.3rem;
    color: red;
}

/* back */
.blur{
    filter: blur(5px);
}

.regpage{
    margin-left: 20rem;
    margin-bottom: 10rem;
    height:43.7rem;
    width:33rem;
    position: absolute;
    background-color: #182a36;
    border:2px solid white;
    margin-bottom: 15rem;
    border-radius: 10px;
}
.cross{
    margin-top: 2rem;
    display: flex;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}
.cross i{
    font-size: 1.2rem;
}
.createaccount{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.8;
}

.fod{
    margin-top: 2rem;
    font-size: 1rem;
}
.inputtext{
    margin-top: 1rem;
    color: white;
    margin-left: 2rem;
    opacity: 0.7;
}
.inputs{
    color:white;
    font-size: 0.9rem;
    margin-left: 1.8rem;
    width:90%;
    height:2.2rem;
    margin-top: 0.2rem;
    background-color: #0F212E;
    border:none;
    border:3px solid #2F4553;
    border-radius: 0.2rem;
}

.inputs:focus {
    background-color: #0F212E;
    outline: none; /* Optionally remove the default outline */
}

.inputs:active {
    background-color: #0F212E;
    outline: none; /* Optionally remove the default outline */
}
.usernameinfo{
    margin-left: 1.8rem;
    margin-top: 0.3rem;
    opacity: 0.6;
    font-size: 1rem;
    color: white;
}
.dob{
    display: flex;
    justify-content: space-evenly;
}
.date{
    opacity: 0.7;
    margin-top: 0.2rem;
    width:25%;
    height:2.2rem;
    background-color: #0F212E;
    border:3px solid #2F4553;
    border-radius: 2.5px;
    color: white;
    font-size: 1rem;
    padding-left: 0.3rem;
}
.select{
 height:2.5rem;  
}
.phcode{
    margin-top: 0.1rem;
    margin-left: 1.8rem;
    padding-left: 0.5rem;
    opacity: 0.7;
    height:2.2rem;
    width:25%;
    background-color: #0F212E;
    border:3px solid #2F4553;
    color:white;
    font-size:medium;
    border-radius: 3px;
}
.phno{
    margin-top: 0.1rem;
    margin-left: 2rem;
    width:57%;
    height:2.2rem;
    border:3px solid #2F4553;
    background-color: #0F212E;
    border-radius: 3px;
    color: white;
    font-size:medium;
}
.optional{
    margin-top: 1.4rem;
    color: white;
    display: flex;
    margin-left: 1.8rem;
}
.optional input{
    height: 1rem;
    width:1rem;
}
.optional p{
    font-size: medium;
    opacity: 0.7;
}
.continu{
    margin-top: 0.7rem;
    width:90%;
    margin-left: 1.6rem;
    height:3.3rem;
    background-color: #00E701;
    color: black;
    font-size: medium;
    border: none;
    border-radius: 5px;
}
.continu:hover{
    cursor: pointer;
}

.or_div{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    width:6rem;
    height:0.1rem;
    background-color: #2F4553;

}
#or{
    color: white;
    opacity: 0.7;
}

.already_div{
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
}
.text{
    color: white;
    opacity: 0.7;
}
.link{
    font-weight: 600;
    color: white;
    text-decoration: none;
}
#validation{
    margin-top: 0.2rem;
    margin-left: 1.8rem;
    font-size: medium;
    color: rgb(247, 81, 81);
}

.signinpage{
    margin-left: 20rem;
    margin-top: 4rem;
    height:33rem;
    width:33rem;
    position: absolute;
    background-color: #182a36;
    border:2px solid white;
    border-radius: 10px;
}
.complete{
    color: #00E701;
    margin-top: 0.8rem;
    opacity: 1;
    font-weight: 600;
}